/* ------------------------------------------------------------------------------------------------------------------------------------------------------
    BODY
------------------------------------------------------------------------------------------------------------------------------------------------------ */

body
    {
     
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        background-image: url("andrew-neel-cckf4TsHAuw-unsplash.jpg") !important;
        font-family: 'Oxygen', sans-serif;
    }










/* ------------------------------------------------------------------------------------------------------------------------------------------------------
    LOG IN FORM
------------------------------------------------------------------------------------------------------------------------------------------------------ */

.form
    {
        box-shadow: 0 20px 50px rgba(8, 112, 184, 1 ) !important;
    }








